---
import "../../siimple.css";
const { pageTitle } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700" rel="stylesheet">
        <link rel="stylesheet" href="../../node_modules/siimple-icons/siimple-icons.css">
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body>
        <div class="container">
            <!-- <h1>{pageTitle}</h1> -->
            <slot />
        </div>
        <footer class="has-p-6"></footer>
    </body>
</html>
